/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .body, .html {
   background: #BDF8A3;
 }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.materialboxed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 5px;
}

.gig {
  padding: 20px;
  background-color: #BDF8A3 !important;
  color:  #BDF8A3 !important  ;
}

.page-footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #42B395 ;
    color: white;
    text-align: center !important;
    height: max-content !important;
    padding: 10px !important;
}

#request-collapsible{
  width: 42%;
  height: auto;
  padding-bottom: 0;
}
#open-more{
  padding-left: .125em;
}
#reset-request-form{
  margin-left: 2em;
}
#reset-request-form:hover{
  text-decoration: underline;
  color: #42B395;
}

/* for tablets and mobile  */
@media screen and (max-width: 992px){
  #request-collapsible{
    width: 69%;
  }
}

/* for mobile devices  */
@media screen and (max-width: 576px){
  #request-collapsible{
    width: 100%;
  }
  #logo{
    height: 56px!important;
    width: 56px!important;
  }
}