/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

  #profile-banner {
    background-color: #BDF8A3;
  }

  #homepage-banner {
    background-color: #BDF8A3;
  }

 .request-container {
  text-align: center;
  color: #044A05;
  border: 5px #BDF8A3;
  background-color: lightgray;
  margin-bottom: 5px;
 
 }

 .request-card{
  padding: .6em .6em 1.6em .6em;
 }
 .request-card p{
  margin: .5em 0;
 }

 body, html {
   background: whitesmoke ;
   height: 100%;
 }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.sidenav li a{
  padding-left: 2.0189em;
  padding-right: 6.0567em;
}
/* sidebar in main handlebars  */
#mobile-collapsible{
  width: auto;
  /* height: auto; */
}
#sidenav-logo-div{
  background: url(../images/artGarden-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.materialboxed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 5px;
}

.gig {
  padding: 20px;
  background-color: #BDF8A3 !important;
  color:  #BDF8A3 !important  ;
}
.main-container{
  margin-bottom: 1em;
}
.push{
  height: 150px;
}
.footer{
  width: 100% !important;
  background-color: #42B395 ;
  color: white;
  height: max-content !important;
  padding: 10px !important;
  margin: auto;
  z-index: 99;
  position: fixed !important;
  bottom: 0;
}
.footer a{
  color: white;
  font-size: small;
}
.footer a:hover{
  text-decoration: underline;
}
.footer i{
  color: white;
  font-size: x-large;
}
.page-footer {
    position: relative !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #42B395 ;
    color: white;
    text-align: center !important;
    height: max-content !important;
    padding: 10px !important;
}
#open-request-button{
  position: fixed;
  /* left: -80px; */
  /* bottom:137.2px; */
  padding: 0 .6em;
  height: auto;
  border-radius: 0;
}
#request-collapsible{
  width: 42%;
  height: auto;
  padding-bottom: 0;
}
#open-more{
  padding-left: .125em;
}
#reset-request-form{
  margin-left: 2em;
}
#reset-request-form:hover{
  text-decoration: underline;
  color: #42B395;
}

/* for tablets and mobile  */
@media screen and (max-width: 992px){
  #request-collapsible{
    width: 69%;
  }
  
}

/* for mobile devices  */
@media screen and (max-width: 576px){
  #request-collapsible{
    width: 100%;
  }
  #logo{
    height: 56px!important;
    width: 56px!important;
  }
}