<form id="new-commission-request-form">
    <input type="text" name="title" id="title">
    <input type="text" name="description" id="description">
    <input type="text" name="category" id="category">
    <button type="submit">Submit</button>
</form>
<script src="/_js/request.js"></script>