<form id="new-commission-request-form">
    <p>the form is here</p>
      <select name="category" id="category">
        <option value="">Please Choose an Option</option>
        <option value="digital" selected>Digital</option>
        <option value="painting">Painting</option>
        <option value="sketch">Sketch</option>
        <option value="lineart">Line art</option>
        <option value="photography">Photography</option>
        <option value="videography">Videography</option>
    </select>
</form>
