<form id="req-form" name="request" method="post" action="/api/requests">
  <label for="title">Title</label>
  <input class="text" name="title" type="text" />
  <label for="description">Description</label>
  <input name="description" type="text" />
  <label for="category">category</label>
    <input name="category" type="text" />
    {{!-- <label for="password">Password</label>
    <input name="password" type="password" /> --}}
    <input class="btn" type="submit" value="Update" />
</form>