<section class="black">

  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item">
      <div class="container">
        <img src="./images/artGarden logo.png" style="width:156px;height:156px;" id="logo">
        <h1 class="header center">artGarden</h1>
        <h5 class="header col s12 light">Grow your art into a career</h5>
      </div>
    </div>
    <div class="carousel-item banner-image-1" href="#one!">
    </div>
    <div class="carousel-item banner-image-2" href="#two!">
    </div>
    <div class="carousel-item banner-image-3" href="#three!">
    </div>
</section>



<div style="background: rgb(191, 255, 179); padding: 1.2em;">


  <form id="change-profile-img-form" name="progiaSKDjk">
    <label for="profileImg">Change Image to:</label>
    <input class="text" name="profileImg" type="text" id="profileImg" />
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>

<h2>Requests not completed!</h2>

<ul>
  {{#each Requests}}
  {{#unless complete}}
  <li>{{dataValues.description}}</li>
  {{!-- {{> request/request-block}} --}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Requests completed!</h2>

<ul>
  {{#each Requests}}
  {{#if complete}}
  <li>{{dataValues}}</li>
  {{!-- {{> request/request-block}} --}}
  {{/if}}
  {{/each}}
</ul>

<script>

  // CAROUSEL
  $(document).ready(function () {
    $('.carousel').carousel(
      {
        dist: 0,
        padding: 0,
        fullWidth: true,
        indicators: false,
        duration: 100,
      }
    );

    autoplay()

    function autoplay() {
      $('.carousel').carousel('next');
      setTimeout(autoplay, 4500);
    }
  });


  // $(`#req-form`).hide()

  $(`#req-form`).on(`submit`, e => {
    e.preventDefault()



    let newRequest = {
      title: $(`#title`).val(),
      description: $(`#description`).val(),
      category: $(`#category`).val(),
      tags: $(`#tags`).val(),
      turnaround_time: 2,
      UserId: $(`#req-form`).data(`user-id`)
    }

    console.log(`the new request is: `, newRequest)

    $.post(`/api/requests`, newRequest, () => {
      window.location.href = "/grvtest"
    })


  })

  $(`#change-profile-img-form`).on(`submit`, e => {
    e.preventDefault()

    let newImgLink = $(`#profileImg`).val().trim()

    $.ajax({
      url: `/api/userdetails/` + 2,
      method: `PUT`,
      data: { profileImg: newImgLink }
    }).then(() => {
      window.location.href = "/grvtest"
    })

  })

  // get all request info and create list-items for each
  $.get(`/api/requests`, data => {
    // console.log(data)
    $(`#req-div`).append(`<ul id="requests-list">`)

    data.forEach(request => {
      let item = $(`<li>`).append($(`<p>`).text(`Title: ` + request.title)).append($(`<p>`).text(`Description: ` + request.description))
        .append($(`<p>`).text(`Turnaround Time: ` + request.turnaround_time + ` hr(s)`))
        .append($(`<p>`).text(`Starting Price: ` + request.starting_price + ` zeed(s)`))
        .append($(`<p>`).text(`Taken by Artist: User ID #` + request.artist_id))
        .append($(`<p>`).text(`Current Bid: ` + request.current_bid + ` Zeeds`))
        .append($(`<input id="submit-bid-${request.id}" style="width: 25%;" type="number" data-request-id="${request.id}">`))
        .append($(`<button class="btn bid-btn" data-request-id="${request.id}">`).text(`Bid`))
        .append($(`<input id="poop-${request.id}" style="width: 25%;" type="number" data-request-id="${request.id}">`))
        .append($(`<button class="btn poop-btn" data-request-id="${request.id}">`).text(`Update Turnaround time`))
        .append($(`<hr>`))

      item.appendTo(`#requests-list`)

    })

    // change artist id when clicking take request
    $(`.bid-btn`).on(`click`, event => {
      event.preventDefault()
      let requestID = $(event.target).data(`request-id`)
      let bid = $(`#submit-bid-${requestID}`).val()

      console.log(bid)

      // find id of request and user id of taker
      $.ajax({
        url: `/api/requests/` + requestID,
        method: `PUT`,
        data: { current_bid: bid }
      }).then(() => {
        window.location.href = "/grvtest"
      })
    })

    $(`.poop-btn`).on(`click`, event => {
      event.preventDefault()
      let requestID = $(event.target).data(`request-id`)
      let newTime = $(`#poop-${requestID}`).val()

      console.log(bid)

      // find id of request and user id of taker
      $.ajax({
        url: `/api/requests/` + requestID,
        method: `PUT`,
        data: { turnaround_time: newTime }
      }).then(() => {
        window.location.href = "/grvtest"
      })
    })
  })


</script>