<div class="section no-pad-bot" id="index-banner">
  <div class="container"> 
    <br><br>
    <h1 class="header center">artGarden</h1>
    <div class="row center">
      <h5 class="header col s12 light">Sprout your artistic seeds</h5>
    </div>
    <br><br>
  </div>
</div>
<div class="container request-container main-container"></div>

<script src="/_js/homepage.js"></script>