<div class="row container center-align">
    <h1>Settings {{firstName}} {{lastName}}</h1>
</div>
<div class="container">
    <div class="row center-align">
        <h3>Choose a profile image:</h3>
        <a href="" id="image-one">
            <img src="/userdata/profile/female-long-hair-1.jpg" alt="">
        </a>
        <a href="" id="image-two">
            <img src="/userdata/profile/female-long-hair-2.png" alt="">
        </a>
        <a href="" id="image-three">
            <img src="/userdata/profile/male-beard-1.jpg" alt="">
        </a>
        <a href="" id="image-four">
            <img src="/userdata/profile/male-blue-1.png" alt="">
        </a>
    </div>
    <div class="row">
        <div class="col s12">
            <label for="bio">Input a new bio here</label>
            <input type="text" id="bio">
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <label for="location-city">Input your location here</label>
            <input type="text" id="location-city" placeholder="city">
        </div>
        <div class="col s6">
            <br>
            <input type="text" id="location-state" placeholder="state">
        </div>
    </div>
    <div class="row"><button id="submit-button">Submit Changes</button></div>
</div>
<script src="/_js/settings.js"></script>