<div class="row container center-align">
    <h5><strong>Settings</strong> {{firstName}} {{lastName}}</h5>
</div>
<div class="container main-container">
    <div class="row center-align">
        <h6>Choose a profile image:</h6>

        <img src="/userdata/profile/female-long-hair-3.png" alt="" class="profile-image" id="image-1">

        <img src="/userdata/profile/female-long-hair-2.png" alt="" class="profile-image" id="image-2">
        <img src="/userdata/profile/male-beard-4.png" alt="" class="profile-image" id="image-3">

        <img src="/userdata/profile/male-blue-1.png" alt="" class="profile-image" id="image-4">
        <img src="/userdata/profile/female-2.png" alt="" class="profile-image" id="image-5">
        <img src="/userdata/profile/male-1.png" alt="" class="profile-image" id="image-6">
        <img src="/userdata/profile/male-2.png" alt="" class="profile-image" id="image-7">
        <img src="/userdata/profile/female-1.png" alt="" class="profile-image" id="image-8">
        {{!-- <img src="/userdata/profile/female-2.png" alt="" class="profile-image" id="image-9"> --}}

    </div>
    <div class="row">
        <div class="col s12">
            <label for="bio">Input a new bio here</label>
            <input type="text" id="bio">
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <label for="location-city">Input your location here</label>
            <input type="text" id="location-city" placeholder="city">
        </div>
        <div class="col s6">
            <br>
            <input type="text" id="location-state" placeholder="state">
        </div>
    </div>
    <div class="row center-align"><a class="delete-button waves-effect waves-light btn-small" id="submit-button">Submit Changes</a></div>
</div>
<script src="/_js/settings.js"></script>