<div class="container">
    <div>
        <select name="profile-img" id="profile-img">
            <option value="image1"><img src="" alt=""></option>
            
        </select>
    </div>
    bio statement
    location
</div>