<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>artGarden</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/_css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="/_css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/_js/materialize.js"></script>
	<script src="/_js/init.js"></script>

</head>

<body>
	
	<!-- navbar goes hereeeeeeeeeeeeee -->
	<nav class="green darken-4">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo center"><img src="./images/artGarden logo.png"
					style="width:64px;height:64px;" id="logo"></a>
			<a href="#" data-target="mobile-collapsible" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="sass.html">Link 1</a></li>
				<li><a href="badges.html">Link 2</a></li>
				<li><a href="collapsible.html">Link 3</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a class="waves-effect waves-light btn">Sign Up</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="mobile-collapsible">
		<li><a href="sass.html">Link 1</a></li>
		<li><a href="badges.html">Link 2</a></li>
		<li><a href="collapsible.html">Link 3</a></li>
	</ul>
	<!-- navbar ends hereeeeeeeeeeeeee -->

	{{!-- where the handlebars layout is coming in  --}}
	{{{ body }}}

</body>

</html>